table
  tr
    th Category
    th Name
    th Time Added
    th Size
    th Seeds
    th Leechers
    th Snatches
  - for (var t in torrents)
    tr
      td= torrents[t].category
      td= torrents[t].name
      td= torrents[t].date
      td= torrents[t].filesize
      td a
      td a
      td= torrents[t].snatches

